/* variables */
/*colors*/
/* responsive */
body {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif; }

.wrapperHeader {
  position: relative; }
  .wrapperHeader .headerImg {
    width: 100%; }
  .wrapperHeader .wrapperNav {
    position: absolute;
    top: 0;
    color: white;
    width: 100%;
    text-align: center; }
    .wrapperHeader .wrapperNav .nav ul {
      padding-top: 3.95%;
      padding-bottom: 3.95%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      margin-left: 100px;
      margin-right: 100px; }
      .wrapperHeader .wrapperNav .nav ul:before {
        content: "";
        width: 20px;
        height: 20px;
        border: 2px solid white;
        border-radius: 28px;
        left: 100;
        display: block;
        top: 3.95%;
        position: absolute; }
      .wrapperHeader .wrapperNav .nav ul li {
        display: inline-block;
        padding-right: 50px;
        text-transform: uppercase;
        font-size: 12px; }
        .wrapperHeader .wrapperNav .nav ul li .icons {
          position: absolute;
          right: 100;
          top: 4%; }
          .wrapperHeader .wrapperNav .nav ul li .icons img:first-child {
            padding-right: 38px; }
    .wrapperHeader .wrapperNav .navSticky {
      position: fixed;
      margin: 0;
      width: 100%;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.5); }
      .wrapperHeader .wrapperNav .navSticky ul {
        margin: 0;
        padding: 1% 0 2% 0; }
        .wrapperHeader .wrapperNav .navSticky ul:before {
          content: "";
          top: 20%; }
        .wrapperHeader .wrapperNav .navSticky ul li .icons {
          top: 20%; }
    .wrapperHeader .wrapperNav .titleIntro h1 {
      font-family: 'Playfair Display', serif;
      font-size: 112px;
      padding-top: 11.5%; }
    .wrapperHeader .wrapperNav .titleIntro p {
      font-weight: 100;
      line-height: 30px;
      padding: 1.56% 20.31%; }
    .wrapperHeader .wrapperNav .really {
      position: relative; }
      .wrapperHeader .wrapperNav .really:before {
        content: "";
        position: relative;
        width: 146px;
        display: inline-block;
        border: 1px solid #da7074;
        top: -5px;
        left: 4px; }
      .wrapperHeader .wrapperNav .really:after {
        content: "";
        position: relative;
        width: 146px;
        display: inline-block;
        border: 1px solid #da7074;
        top: -5px;
        left: -4px; }
      .wrapperHeader .wrapperNav .really p {
        display: inline-block;
        background-color: #da7074;
        padding: 16px 50px;
        border-radius: 45px;
        text-transform: uppercase; }
    .wrapperHeader .wrapperNav .verticalLines img {
      display: block;
      margin: 0 auto; }
      .wrapperHeader .wrapperNav .verticalLines img:first-child {
        margin-top: 3.10%;
        margin-bottom: 1.44%; }
        @media screen and (max-width: 1400px) {
          .wrapperHeader .wrapperNav .verticalLines img:first-child {
            display: none; } }
      @media screen and (max-width: 1400px) {
        .wrapperHeader .wrapperNav .verticalLines img {
          margin-top: 3.10%; } }
  .wrapperHeader .play {
    position: absolute;
    bottom: 1.75%;
    left: 50%;
    transform: translateX(-50%); }

.pictureWrapper .design {
  display: block;
  width: 25%;
  float: left;
  position: relative; }
  @media screen and (min-device-width: 0px) and (max-device-width: 768px) {
    .pictureWrapper .design {
      width: 100%; } }
  .pictureWrapper .design img {
    width: 100%; }
  .pictureWrapper .design .pictureText {
    text-align: center;
    position: absolute;
    bottom: 4.82%;
    width: 100%;
    color: white; }
    .pictureWrapper .design .pictureText h2 {
      text-transform: uppercase;
      margin-bottom: 2%; }
    .pictureWrapper .design .pictureText p {
      font-family: "Montserrat script=all rev=1", "Adobe Blank";
      font-size: 18px;
      font-style: italic;
      line-height: 16px; }

footer {
  clear: both; }
  footer .category {
    width: 25%;
    float: left;
    padding-top: 5.02%;
    padding-bottom: 5.21%; }
    footer .category li {
      font-style: italic; }
      footer .category li:not(first-child) {
        padding-bottom: 2%; }
    footer .category li:first-child {
      text-transform: uppercase;
      font-weight: bold;
      font-style: normal;
      padding-bottom: 9%; }
    footer .category:first-child {
      width: 29%; }
      footer .category:first-child ul {
        padding-left: 20%; }
    footer .category:nth-child(2) {
      width: 21%; }
    footer .category:nth-child(3) {
      width: 20%; }
    footer .category:nth-child(4) {
      width: 30%; }
      footer .category:nth-child(4) ul {
        padding-right: 20%; }
  footer .blackBand {
    width: 100%;
    display: block;
    background-color: black;
    clear: both; }
    footer .blackBand p {
      text-align: center;
      padding: 4% 0;
      color: #4f4f4f; }

/*# sourceMappingURL=style.css.map */
